# .env.example
API_PORT=3007
PORT=3000

POSTGRES_PORT=5432
POSTGRES_USER=localbook
POSTGRES_PASSWORD=localbook
POSTGRES_DB=localbook

DATABASE_URL=postgresql://localbook:localbook@postgres:5432/localbook

# To conect to the local database from local machine not docker, use the following line instead of the DATABASE_URL above
# DATABASE_URL_LOCAL=postgresql://localbook:localbook@localhost:5432/localbook

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN_SECONDS=900